{% extends 'base.html' %}

{% block main %}
    <h2>Página de funcionarios</h2>

    {% for funcionario in funcionarios_list %}
        <br>
        <a href="{% url 'update_funcionario' funcionario.id %}"> {{ funcionario }} </a>
        <a href="{% url 'delete_funcionario' funcionario.id %}" class='btn btn-danger'> Deletar</a>
    {% endfor %}
    <br>
    <br>
    <a href="{% url 'create_funcionario' %}" class="btn btn-info"> Cadastrar Funcionario </a>
    <a href="{% url 'home' %}" class="btn btn-info">Voltar</a>
{% endblock %}
